


<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart' },
    title: { text: 'DRILLYNG CYCLE TIME' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: ''}
    },
    series: [{
    	name: "Data1",
    	 pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 3.weeks.ago.at_midnight.to_i * 1000 %>,
      data: [9, 3, 2, 2, 4]
    },
    {
      name: "Data2",	
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 3.weeks.ago.at_midnight.to_i * 1000 %>,
      data: [1, 2, 5, 7, 3]
    }
    ]
  });
});
</script>

<div class="chart2" id="orders_chart"></div>

<div class="chart2" id="answer_time_chart"></div>
<script type="text/javascript">
$(document).ready(function() {
    var options = {
        chart: {
            renderTo: 'answer_time_chart',
            type: 'spline'
        },
        title: { text: 'COMPLETION CYCLE TIME' },
        yAxis: {
                title: { text: ''}
              },
        series: [{}]
    };        
    var jsonURL ='<%= @jsonURL %>'; 
    $.getJSON(jsonURL, function(data) {
        options.series[0].data = data;        
        var chart = new Highcharts.Chart(options);      
    });

});
</script>

<div class="chart3" id="answer_time_chart1"></div>
<script type="text/javascript">
$(document).ready(function() {
    var options = {
        chart: {
            renderTo: 'answer_time_chart1',
            type: 'spline'
        },
        title: { text: 'DRILLING FT' },
        yAxis: {
                title: { text: ''}
              },
        series: [{}]
    };        
    var jsonURL ='<%= @jsonURL %>'; 
    $.getJSON(jsonURL, function(data) {
        options.series[0].data = data;        
        var chart = new Highcharts.Chart(options);      
    });

});
</script>





