<h1>Demo Rails  - Monocle: <%= @nombre %></h1>
<p>Mostrar Resultados Json:</p>

<div>
	<p><b>Titulo:</b> <%= @titleG %><p>	
	<p><b>GlossDiv:</b></p>
	<ul><p><b>Titulo:</b> <%= @title %></p>	</ul>
	<ul><p><b>GlossList:</b></p>
		<ul><b>GlossSee:</b><%= @GlossList_GlossSee %></ul>
	</ul>	
	<ul><p><b>GlossEntry:</b></p>
		<ul><p><b>ID: </b><%= @ID %></p></ul>
		<ul><p><b>SortAs: </b><%= @SortAs %></p></ul>
		<ul><p><b>GlossTerm: </b><%= @GlossTerm %></p></ul>
		<ul><p><b>Acronym: </b><%= @Acronym %></p></ul>
		<ul><p><b>Abbrev: </b><%= @Acronym %></p></ul>
		<ul><p><b>GlossDef: </b></p>
			<ul><p><b>para: </b><%= @para %></p></ul>	
			<ul><p><b>GlossSeeAlso:</b><%= @GlossSeeAlso %></p></ul>	
		</ul>

	</ul>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart' },
    title: { text: 'Orders by Day' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'Dollars'}
    },
    series: [{
      data: [1, 2, 5, 7, 3]
    }]
  });
});
</script>

<div id="orders_chart" style="width: 560px; height: 300px;"></div>



